<div class="landing-background">
  <img src="assets/pictures/d8night-logo.png">
  <div class="overlay-landing"></div>

  <div class="uk-position-bottom-center uk-flex uk-flex-center uk-flex-column signature">
    <div *ngIf="isLogged && (!isPlayer && !isAdmin) && showAuthCard.getCard()"
         class="uk-card uk-card-default uk-card-body uk-border-rounded uk-align-center uk-margin-bottom uk-width-1-3@s uk-width-2-3">
      <h4 class="uk-card-title uk-text-center">
        Warning
      </h4>
      <span class="uk-flex uk-flex-middle">
        <span class="uk-visible@s uk-width-auto uk-margin-right" uk-icon="info"></span>
        <span class="uk-width-expand">
          Your access request was forwarded to the admins. You currently have no authorization to use this web application.
        </span>
      </span>
    </div>
    <div class="uk-light uk-text-small uk-align-center">
      Designed by <a href="https://github.com/Ic4r0">Ic4r0<span uk-icon="github"></span></a>
    </div>
  </div>
</div>
