<div class="page uk-light">

  <!-- BREADCRUMB -->
  <app-breadcrumb [list]="breadcrumb"></app-breadcrumb>

  <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-width-5-6 uk-align-center uk-margin-large-bottom">
    <h3 class="uk-card-title">Cookies policy in <i>d8 Night</i></h3>
    <div class="uk-flex uk-flex-column">
      <span class="uk-margin-small-bottom">
        <p>
          This Cookie Policy provides information for users on the way we use cookies and/or monitoring technologies to
          collect information given when they visit this website.

          The Data Controller that processes the personal data gathered through the website can be reached via mail to
          <a class="custom-link" href="mailto:d8night.tabletop@gmail.com">d8night.tabletop@gmail.com</a>.
        </p>
      </span>
      <span class="uk-margin-small-bottom">
        <h5 class="uk-card-title">What are "Cookies"?</h5>
        <p>
          Cookies are small text files that websites send to users’ devices (e.g. computer, tablet, smartphone, notebook,
          etc.), where they are saved and then sent back to the same sites on the user’s next visit. Cookies may require
          the user’s prior consent.
        </p>
        <p>
          Cookies allow the device on which they are stored to be identified for the entire period of their validity or
          registration.
        </p>
        <p>
          For further information, please visit <a class="custom-link" href="https://www.cookiesandyou.com/">CookiesAndYou</a>
        </p>
      </span>
      <span class="uk-margin-small-bottom">
        <h5 class="uk-card-title">Types of Cookies used</h5>
        <p>
          Depending on the purpose of the cookies, these can be divided into:
        </p>
        <ul class="uk-list uk-list-disc">
          <li><b>Technical cookies.</b> their use does not require user’s consent is strictly limited to the transmission
            of session-identifying data (numbers generated randomly by the server) necessary for the secure, efficient
            navigation of the website; these are not persistent cookies stored on the user’s computer but are erased
            when the browser is closed. These cookies are used for security reasons and to improve the service offered
            to users
            <br><b>This website uses only this type of cookies.</b></li>
          <li><b>Profiling cookies.</b> this kind of cookies require user’s consent.  Profiling cookies create user profiles
            and are used to send out advertising messages that reflect the preferences expressed by the latter while
            surfing the web or to enhance their navigation experience. These cookies can be used for this purpose only
            with the user’s consent.</li>
        </ul>
      </span>
      <span class="uk-margin-small-bottom">
        <h5 class="uk-card-title">Further information on used cookies</h5>
        <p>
          This website use Firebase for authentication, storage, database and hosting. For further information on which data
          are used in <i>d8 Night</i> and how, please read
          <a class="custom-link" href="https://firebase.google.com/support/privacy">Privacy and Security in Firebase</a>.
        </p>
      </span>
      <span class="uk-margin-small-bottom">
        <h5 class="uk-card-title">Managing Cookies using your browser settings</h5>
        <p>
          Almost all web browsers allow you to check which cookies are on your hard drive, block all cookies or receive
          a warning every time a cookie is installed.  In some cases, however, failure to install a cookie may make it
          impossible to use some areas of the website in question.
        </p>
      </span>
    </div>
  </div>
</div>
